Flows.json
[{"id":"b3a16c32.c3533","type":"tab","label":"Pneumonia","disabled":false,"info":""},{"id":"31d4ac52.232904","type":"tab","label":"COPD Patient","disabled":false,"info":""},{"id":"8340d1b1.4723f","type":"tab","label":"Asthma Patient","disabled":false,"info":""},{"id":"3b8707dd.faa338","type":"MySQLdatabase","z":"","name":"COPD DB","host":"127.0.0.1","port":"3306","db":"patients","tz":""},{"id":"2c15ad1.6c06052","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6360d3d0.d967ac","type":"ui_group","z":"","name":"Default","tab":"2c15ad1.6c06052","order":1,"disp":true,"width":"6","collapse":false},{"id":"1fa45ff0.22b91","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"346a5286.45c7ee","type":"ui_group","z":"","name":"UserEntry","tab":"19d5a868.810fb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e729d5e.29a6f3","type":"ui_group","z":"","name":"dialog","tab":"19d5a868.810fb8","order":2,"disp":false,"width":"1","collapse":false},{"id":"19d5a868.810fb8","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"6e1691fe.ea318","type":"ui_group","name":"Group 1","tab":"fad428d4.1dadf8","order":1,"disp":true,"width":6},{"id":"fad428d4.1dadf8","type":"ui_tab","z":"","name":"Text-Button","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"894c4ee0.71f33","type":"ui_group","z":"","name":"Enter Product Key ","tab":"b5b02354.9ef14","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5b02354.9ef14","type":"ui_tab","z":"","name":"Relay Board Page 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ec5840b1.46f37","type":"ui_group","z":"","name":"Enter Product Key ","tab":"5b7d39c4.1e7d18","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b7d39c4.1e7d18","type":"ui_tab","z":"","name":"Relay Board Page 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ce0cb8e3.31a838","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"29d7b55f.91bf4a","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"64088eef.194d8","type":"ui_group","z":"","name":"Test me buttons","tab":"29d7b55f.91bf4a","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f4fbd85.91f1c","type":"ui_group","z":"","name":"Template tab","tab":"29d7b55f.91bf4a","order":2,"disp":true,"width":"6","collapse":false},{"id":"d84b2192.c7f7e","type":"google-cloud-credentials","z":"","name":"NodeRedCloud"},{"id":"18b5c5b3.f850ca","type":"amazon config","z":"","name":"AWS","region":"us-east-2","proxyRequired":false,"proxy":""},{"id":"20d8d041.ceef1","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e433553a.cf5848","type":"age","z":"8340d1b1.4723f","name":"Age","age":"52","x":390,"y":220,"wires":[["f201288d.f32f38","ef8a2dd7.13082"]]},{"id":"c926fdae.b68de","type":"clinical","z":"8340d1b1.4723f","name":"Clinical Info","clinical_values":"moderate asthma","x":420,"y":280,"wires":[["f201288d.f32f38","ef8a2dd7.13082","9830c3b8.6b6ec"]]},{"id":"baf9f530.1d9c08","type":"name","z":"8340d1b1.4723f","name":"Patient Name","patient_name":"Lorelai Gilmore","x":420,"y":160,"wires":[["f201288d.f32f38","ef8a2dd7.13082"]]},{"id":"f67e90c9.4e45d","type":"inject","z":"8340d1b1.4723f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":340,"wires":[["baf9f530.1d9c08","e433553a.cf5848","c926fdae.b68de","aa27e8ea.c71b08"]]},{"id":"5a67a509.1dc11c","type":"alert","z":"8340d1b1.4723f","name":"hypertension","message":"Patient is in hypertension","range_start":"140/90","range_end":"","x":450,"y":500,"wires":[["9830c3b8.6b6ec"]]},{"id":"32df2066.c2c5e","type":"alert","z":"8340d1b1.4723f","name":"tachycardia","message":"Patient is tachycardic","range_start":"100","range_end":"","x":450,"y":580,"wires":[["9830c3b8.6b6ec"]]},{"id":"e4acd6dd.d95338","type":"inject","z":"8340d1b1.4723f","name":"Blood Pressure Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\":[\"Simple\",[\"149/99\"]]}","payloadType":"json","x":200,"y":500,"wires":[["5a67a509.1dc11c"]]},{"id":"3bb3f0d0.2bc32","type":"inject","z":"8340d1b1.4723f","name":"Heart Rate Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\":[\"Simple\",[\"111\"]]}","payloadType":"json","x":190,"y":580,"wires":[["32df2066.c2c5e"]]},{"id":"aa27e8ea.c71b08","type":"DSL","z":"8340d1b1.4723f","name":"DSL","rules":"(mild asthma  or moderate asthma): FEV1, 6 puffs salbutamol, 6 puffs ipratropium bromide, prednisone 50 mg\n(severe asthma): oxygen, FEV1, 6 puffs salbutamol, 6 puffs ipratropium bromide, prednisone 50 mg\n(tachycardia): treat patient urgently\n(chickenpox): -corticosteroid\n(difficulty swallowing): -prednisone 50 mg\n(FEV1 low): increase salbutamol to 20 puffs","x":380,"y":400,"wires":[["9830c3b8.6b6ec"]]},{"id":"b2370647.9475f8","type":"alert","z":"8340d1b1.4723f","name":"Clinical Plan Display","message":"","range_start":"","range_end":"","x":1100,"y":360,"wires":[[]]},{"id":"ef8a2dd7.13082","type":"database","z":"8340d1b1.4723f","name":"EHR","host":"localhost","user":"root","port":"3306","password":"root","database":"patients","query":"SELECT symptoms FROM patients.ehr WHERE HCN = 1234567892","x":650,"y":180,"wires":[["9830c3b8.6b6ec"]]},{"id":"f201288d.f32f38","type":"database","z":"8340d1b1.4723f","name":"Radiology Tests","host":"localhost","user":"root","port":"3306","password":"root","database":"patients","query":"SELECT Finding FROM patients.radiologyresults WHERE HCN=1234567892","x":700,"y":120,"wires":[["ace9baad.269958","9830c3b8.6b6ec"]]},{"id":"ace9baad.269958","type":"alert","z":"8340d1b1.4723f","name":"Radiology Results","message":"","range_start":"","range_end":"","x":990,"y":100,"wires":[[]]},{"id":"adb34aa6.af90d8","type":"inject","z":"8340d1b1.4723f","name":"O2 Sats Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\": [\"Simple\", [\"88\"]]}","payloadType":"json","x":160,"y":680,"wires":[["7f75a38c.9a572c"]]},{"id":"7f75a38c.9a572c","type":"alert","z":"8340d1b1.4723f","name":"low o2 saturation","message":"Patient has low O2 Sats!","range_start":"0","range_end":"90","x":470,"y":660,"wires":[["9830c3b8.6b6ec"]]},{"id":"9830c3b8.6b6ec","type":"data_fusion","z":"8340d1b1.4723f","numSources":"5","x":830,"y":360,"wires":[["b2370647.9475f8"]]},{"id":"38206c58.251294","type":"age","z":"31d4ac52.232904","name":"Age","age":"52","x":450,"y":260,"wires":[["6da4e05.e750e2","4a1b81a6.4e91f","98b7c0ed.4bbf2"]]},{"id":"11eae1b3.7660fe","type":"clinical","z":"31d4ac52.232904","name":"Clinical Info","clinical_values":"COPD exacerbation,sputum","x":480,"y":320,"wires":[["6da4e05.e750e2","4a1b81a6.4e91f","98b7c0ed.4bbf2","75bc1b3f.ac8954"]]},{"id":"1547b87a.04fb38","type":"name","z":"31d4ac52.232904","name":"Patient Name","patient_name":"Lorelai Gilmore","x":480,"y":200,"wires":[["6da4e05.e750e2","4a1b81a6.4e91f","98b7c0ed.4bbf2"]]},{"id":"6da4e05.e750e2","type":"database","z":"31d4ac52.232904","name":"Lab Tests","host":"127.0.0.1","user":"root","port":"3306","password":"root","database":"patients","query":"SELECT ResultsStatus FROM patients.labresults WHERE HCN=1234567892","x":680,"y":280,"wires":[["d77dc417.09bc68","75bc1b3f.ac8954"]]},{"id":"d956e3d.038da2","type":"inject","z":"31d4ac52.232904","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":380,"wires":[["1547b87a.04fb38","38206c58.251294","11eae1b3.7660fe","eea5d741.2d64e8"]]},{"id":"ae8feb4b.d30db8","type":"alert","z":"31d4ac52.232904","name":"hypertension","message":"Patient is in hypertension","range_start":"140/90","range_end":"","x":510,"y":540,"wires":[["75bc1b3f.ac8954"]]},{"id":"f8b942b7.4e738","type":"alert","z":"31d4ac52.232904","name":"tachycardia","message":"Patient is tachycardic","range_start":"100","range_end":"","x":510,"y":620,"wires":[["75bc1b3f.ac8954"]]},{"id":"7c6c0455.38a10c","type":"inject","z":"31d4ac52.232904","name":"Blood Pressure Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\":[\"Simple\",[\"149/99\"]]}","payloadType":"json","x":260,"y":540,"wires":[["ae8feb4b.d30db8"]]},{"id":"3247f16d.f3a3fe","type":"inject","z":"31d4ac52.232904","name":"Heart Rate Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\":[\"Simple\",[\"111\"]]}","payloadType":"json","x":250,"y":620,"wires":[["f8b942b7.4e738"]]},{"id":"eea5d741.2d64e8","type":"DSL","z":"31d4ac52.232904","name":"DSL","rules":"(hemoptysis or fever or chills or chest pain or respiratory distress): chest xray, consider other diagnosis\n(COPD exacerbation): prednisone 30-50 mg\n(no COPD risk factors, sputum): Doxycycline\n(low o2 saturation or ischemic heart disease or steroid use, sputum): Amoxicillin-Clavlinate","x":440,"y":440,"wires":[["75bc1b3f.ac8954"]]},{"id":"605bba.03c75448","type":"alert","z":"31d4ac52.232904","name":"Clinical Plan Display","message":"","range_start":"","range_end":"","x":1160,"y":400,"wires":[[]]},{"id":"98b7c0ed.4bbf2","type":"database","z":"31d4ac52.232904","name":"EHR","host":"localhost","user":"root","port":"3306","password":"root","database":"patients","query":"SELECT symptoms FROM patients.ehr WHERE HCN = 1234567892","x":710,"y":220,"wires":[["75bc1b3f.ac8954","d6a6fc1.78784"]]},{"id":"4a1b81a6.4e91f","type":"database","z":"31d4ac52.232904","name":"Radiology Tests","host":"localhost","user":"root","port":"3306","password":"root","database":"patients","query":"SELECT Finding FROM patients.radiologyresults WHERE HCN=1234567892","x":760,"y":160,"wires":[["3d642ef8.e19592","75bc1b3f.ac8954"]]},{"id":"d77dc417.09bc68","type":"alert","z":"31d4ac52.232904","name":"Lab Results","message":"","range_start":"","range_end":"","x":1090,"y":300,"wires":[[]]},{"id":"3d642ef8.e19592","type":"alert","z":"31d4ac52.232904","name":"Radiology Results","message":"","range_start":"","range_end":"","x":1050,"y":140,"wires":[[]]},{"id":"919de21b.aa66d","type":"inject","z":"31d4ac52.232904","name":"O2 Sats Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\": [\"Simple\", [\"88\"]]}","payloadType":"json","x":260,"y":820,"wires":[["7bb0ae97.19f7d"]]},{"id":"7bb0ae97.19f7d","type":"alert","z":"31d4ac52.232904","name":"low o2 saturation","message":"Patient has low O2 Sats!","range_start":"0","range_end":"90","x":550,"y":800,"wires":[["75bc1b3f.ac8954"]]},{"id":"75bc1b3f.ac8954","type":"data_fusion","z":"31d4ac52.232904","numSources":"6","x":890,"y":400,"wires":[["605bba.03c75448"]]},{"id":"2632c4e0.bc666c","type":"age","z":"b3a16c32.c3533","name":"Age","age":"52","x":570,"y":300,"wires":[["158c056f.f6c32b","d43c9cf5.4a9de","802420c0.d0779"]]},{"id":"20fea4a5.7f10dc","type":"clinical","z":"b3a16c32.c3533","name":"Clinical Info","clinical_values":"admitting,no empyema,inital workup,penicillin allergy","x":590,"y":340,"wires":[["158c056f.f6c32b","d43c9cf5.4a9de","802420c0.d0779"]]},{"id":"c0f2b98c.bcc278","type":"name","z":"b3a16c32.c3533","name":"Patient Name","patient_name":"Lorelai Gilmore","x":600,"y":260,"wires":[["158c056f.f6c32b","d43c9cf5.4a9de","802420c0.d0779"]]},{"id":"802420c0.d0779","type":"database","z":"b3a16c32.c3533","name":"Lab Tests","host":"127.0.0.1","user":"root","port":"3306","password":"root","database":"patients","query":"SELECT ResultsStatus FROM patients.labresults WHERE HCN=1234567892","x":840,"y":360,"wires":[["db68191d.5bb348"]]},{"id":"83a06b87.6a0498","type":"inject","z":"b3a16c32.c3533","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":360,"wires":[["c0f2b98c.bcc278","2632c4e0.bc666c","20fea4a5.7f10dc","1935d060.e45b1"]]},{"id":"c8557197.da20f","type":"alert","z":"b3a16c32.c3533","name":"hypertension","message":"Patient is in hypertension","range_start":"140/90","range_end":"","x":790,"y":460,"wires":[["db68191d.5bb348"]]},{"id":"5fe24e28.cf019","type":"alert","z":"b3a16c32.c3533","name":"tachycardia","message":"Patient is tachycardic","range_start":"100","range_end":"","x":790,"y":500,"wires":[["db68191d.5bb348"]]},{"id":"5409ab88.29b634","type":"inject","z":"b3a16c32.c3533","name":"Blood Pressure Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\":[\"Simple\",[\"149/99\"]]}","payloadType":"json","x":360,"y":460,"wires":[["c8557197.da20f"]]},{"id":"62c2a8d2.efce88","type":"inject","z":"b3a16c32.c3533","name":"Heart Rate Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\":[\"Simple\",[\"111\"]]}","payloadType":"json","x":350,"y":500,"wires":[["5fe24e28.cf019"]]},{"id":"1935d060.e45b1","type":"DSL","z":"b3a16c32.c3533","name":"DSL","rules":"(admitting): chest xray, cbc, cbc w diff, STAT procalcitonin, PIV\n(low o2 saturation): oxygen\n(no empyema, inital workup): Ampicillin IV 200 mg/kg/day or Amoxicillin PO 90 mg/kg/day\n(penicillin allergy): Ceftriaxone IV 50 mg/kg/day or Clindamycin IV 40 mg/kg/day, -Ampicillin IV 200 mg/kg/day or Amoxicillin PO 90 mg/kg/day\n(failed outpatient treatment, no empyema): Ampicillin IV 400 mg/kg/day\n(failed outpatient treatment, no empyema, penicillin allergy): -Ampicillin IV 400 mg/kg/day, Ceftriaxone IV 75 mg/kg/day, -Ceftriaxone IV 50 mg/kg/day or Clindamycin IV 40\n(empyema): Ceftriaxone IV 75 mg/kg/day, blood culture, consider surgery\n(cephalosporin allergy): Levofloxacin IV, -Ceftriaxone IV 75 mg/kg/day","x":570,"y":400,"wires":[["db68191d.5bb348"]]},{"id":"bb3fa381.d68e4","type":"alert","z":"b3a16c32.c3533","name":"Clinical Plan Display","message":"","range_start":"","range_end":"","x":1340,"y":440,"wires":[[]]},{"id":"158c056f.f6c32b","type":"database","z":"b3a16c32.c3533","name":"EHR","host":"localhost","user":"root","port":"3306","password":"root","database":"patients","query":"SELECT symptoms FROM patients.ehr WHERE HCN = 1234567892","x":850,"y":300,"wires":[["db68191d.5bb348"]]},{"id":"d43c9cf5.4a9de","type":"database","z":"b3a16c32.c3533","name":"Radiology Tests","host":"localhost","user":"root","port":"3306","password":"root","database":"patients","query":"SELECT Finding FROM patients.radiologyresults WHERE HCN=1234567892","x":820,"y":240,"wires":[["db68191d.5bb348"]]},{"id":"37a3bdec.eee572","type":"alert","z":"b3a16c32.c3533","name":"fever","message":"Patient has a fever!","range_start":"37.5","range_end":"","x":770,"y":540,"wires":[["db68191d.5bb348"]]},{"id":"8f34f10a.131cb","type":"inject","z":"b3a16c32.c3533","name":"Temperature Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\":[\"Simple\", [\"39.2\"]]}","payloadType":"json","x":350,"y":540,"wires":[["37a3bdec.eee572"]]},{"id":"b900afd8.519f6","type":"inject","z":"b3a16c32.c3533","name":"O2 Sats Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Data\": [\"Simple\", [\"88\"]]}","payloadType":"json","x":340,"y":580,"wires":[["ecf311b5.a1b59"]]},{"id":"ecf311b5.a1b59","type":"alert","z":"b3a16c32.c3533","name":"low o2 saturation","message":"Patient has low O2 Sats!","range_start":"0","range_end":"90","x":810,"y":580,"wires":[["db68191d.5bb348"]]},{"id":"db68191d.5bb348","type":"data_fusion","z":"b3a16c32.c3533","numSources":"7","x":1090,"y":440,"wires":[["bb3fa381.d68e4"]]},{"id":"d6a6fc1.78784","type":"alert","z":"31d4ac52.232904","name":"EHR Results","message":"","range_start":"","range_end":"","x":1030,"y":220,"wires":[[]]}]